{% extends 'base.html' %}

{% block 'title' %}Receivers{% endblock %}

{% block 'content' %}
<!--Content-->

    {% if not receivers %}
        <h4>Ops! you don't have any receiver</h4>
        <p>Why don't you try to create one?</p>
        <input type="button" value="New Receiver" class="btn btn-primary m-1" onclick="location.href = '{% url 'new_receiver' %}'">
    {% endif %}

    {% for receiver in receivers %}
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">{{ receiver.name}}</h5>
                <p class="card-text">{{ receiver.date }}</p>
                <p class="card-text">{{ receiver.description }} </p>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="background-color: blue;">
                        Options
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Detail</a></li>
                        <li><a class="dropdown-item" href="#">Edit</a></li>
                        <li><a class="dropdown-item" href="#">Delete</a></li>
                    </ul>
                </div>
            </div>
        </div>
    {% endfor %}
    
<!--End Content-->
{% endblock %}