{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'assets/_head.html' %}
    <title>{% block 'title' %}{% endblock %} | C.E</title>
</head>
<body>
    <header>
        {% include 'assets/_nav.html' %}
    </header>

    
    <main class="col-11 m-auto mt-3 flex-inline" >
        <!--Main-->
        {% block 'content' %}
            <!--content here-->
        {% endblock %}
        <!--End Main-->
    </main>
    
    {% include 'assets/_footer.html' %}
    
    <!--JavaScript-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
</body>
</html>