{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'assets/_head.html' %}
    {% block 'head' %}{% endblock %}
    <title>{% block 'title' %}{% endblock %} | C.E</title>
</head>
<body>
    <header>
        {% include 'assets/_nav.html' %}
    </header>

    
    <main class="col-11 m-auto mt-3 flex-inline" style="height: 100vh;">
        <!--Main-->
        {% block 'content' %}
            <!--content here-->
        {% endblock %}
        <!--End Main-->
    </main>
    
    
    {% include 'assets/_footer.html' %}
    
</body>
</html>